/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px */

 body { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #ECF2FF;  
    line-height: 2;
         
 }

 main {
    border-radius: 32px;
    display: flex;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15); 
    background: white;
 }

 .bluebox {  
    -Webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 38px; 
    height: 512px;
    width: 368px;
    border-radius: 32px;    
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);   
 }

 .whitebox {
    -Webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 38px;   
    width: 368px;
    border-radius: 32px;
    background-color: #FFFFFF;
 } 

 h1 {
    font-size: 24px;
    color: #CAC9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .circle {        
    display:Flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 8%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4D21C9;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
 }

 .C76 {
    font-size: 72px;
    color: white;
    line-height: 1px;
    margin-bottom: 10%;
 }

 .O100 {
    position: absolute;
    margin-top:3%;
    font-size: 18px;
    color: #CAC9FF;   
 }

 h2 {
    display: flex;
    justify-content: center;
    margin-top:4%;
    color: white;
    font-size: 32px;
 }

 p {
    color: #CAC9FF;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
 }

 h3 {
    font-size: 24px;
    color: #303B59;
 }
 /* REACTION */
.icon {
    padding: 20.17px;
    block-size: 40%;   

}
 .reaction {
    display:Flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
    border-radius: 12px;
    width: 288px;
    Height:56px;
 }

 .rate {
    margin-left:28%;
 }

 .Reaction {
    font-size: 18px;
    color: #FF5555;
 }
 
 /* MEMORY */

 .icon2 {  
    block-size: 40%;   
    padding: 20.17px;     
 }

 .memory {
    display:Flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
    border-radius: 12px;
    width: 288px;
    Height:56px;  
    margin-top:5%;

 }

 .Memory {
    font-size: 18px;
    color:#FFB21E
 }

 /* VERBAL */

 .icon3 {
    block-size: 40%;   
    padding: 20.17px;
 }

 .verbal {
    display:Flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
    border-radius: 12px;
    width: 288px;
    Height:56px;  
    margin-top:5%  
 }

 .Verbal {
    color: #00BB8F;
    font-size: 18px; 
 }

 .ratee {
    margin-left: 96.50px;
 }
 /* VISUAL */

 .icon4 {
    block-size: 40%;   
    padding: 20.17px;    
 }

 .visual {
    display: Flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
    border-radius: 12px;
    width: 288px;
    Height: 56px;  
    margin-top: 5%    
 }

 .Visual {
    color: #1125D6;
    font-size: 18px;
 }

 /* little details */
 .rateee {
    margin-left: 100px;
 }

 span {
    color: #303B59;
    color: rgba(0, 0 , 0, 0.5);
    text-align: right;
 }

 .coloured {
    color: #303B59;
    font-weight: 700;
 }

 .rateeee {
    margin-left: 83px;
 }

 .button {
    margin-top: 50px;
    width: 288px;
    height: 56px;
    border-radius: 60px;
    border: hidden;
    background: #303B59;
 }

 h5 {
    font-size: 18px;
    font-weight: 700;
    color: white;
 }

 .button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
 }     

 h6 {
    position: absolute;

    margin-top: 600px;
    font-size: 14px; 
 }

  a { 
    color: red; 
}

@media screen and (max-width: 600px) {

   body {
      height: 150px;
   }
   .bluebox {
      
      width: 347px;
      height: 356px;
      position: absolute;
      background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
      box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
      border-radius: 0px 0px 32px 32px;
      margin-top: 400px;
      
     }

     .whitebox {
      width: 348px;
      margin-top: 740px;
      background-color: white;
     }
      
       h1 {
         font-size: 18px;
         position:absolute;
         margin-bottom: 300px;
         margin-left: 90px;
        }
        h2 {
         font-size: 24px;
        }
        
        p {
         font-size: 16px;
        }
       
         .circle {
            
            width: 140px;
            height: 140px;
            margin-left: 67px;
            margin-top: 40px;
            background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
         }
      
         .C76 {
            font-size: 56px;
         }
      
         .O100 {
            font-size: 16px;
            margin-top: 40px;
         }

         h3{
            margin-bottom:25px;
            font-size: 18px;
         }
            
         h6 {
            position:absolute;
            margin-bottom: 1010px;
            width: 278px;
            font-size: 10px;
            color: white;
         }

         a {
            color: 	#ffde22;
            text-decoration: none;
            cursor: text;
            
         }
  }
      
  